* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
}
body {
  background-color: black;
  color: white;
  font-family: "Orbitron", sans-serif;
  min-height: 100vh;
  padding: 30px;
  justify-content: center;
  align-items: center;
}

span {
  background-color: black;
  text-decoration: underline overline;
}

.but {
  height: 110px;
  max-width: 110px;
  background-color: red;
  color: white;
  border-radius: 50px;
  cursor: pointer;
  font-family: "Orbitron", sans-serif;
  font-weight: bold;
  font-size: 14px;
  margin-top: 1px;
  justify-content: center;
  align-items: center;
}

.but2 {
  height: 110px;
  max-width: 110px;
  background-color: rgb(1, 211, 1);
  color: white;
  border-radius: 50px;
  cursor: pointer;
  margin-left: 50px;
  font-weight: bold;
  font-family: "Orbitron", sans-serif;
  font-size: 14px;
  margin-top: 3px;
  justify-content: center;
  align-items: center;
}

.but3 {
  height: 110px;
  max-width: 110px;
  background-color: rgb(37, 37, 255);
  color: white;
  border-radius: 50px;
  cursor: pointer;
  margin-left: 50px;
  font-weight: bold;
  font-family: "Orbitron", sans-serif;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.but4 {
  margin-left: 70px;
  height: 100px;
  width: 100px;
  background-color: yellow;
  color: rgb(52, 52, 52);
  border-radius: 80px;
  cursor: pointer;
  font-weight: bold;
  margin-top: 20px;
  font-size: 14px;
  font-family: "Orbitron", sans-serif;
  justify-content: center;
  align-items: center;
}
.auto-play-button {
  margin-left: 70px;
  height: 100px;
  width: 100px;
  background-color: rgb(205, 42, 205);
  color: white;
  border-radius: 80px;
  cursor: pointer;
  font-weight: bold;
  margin-top: 20px;
  font-size: 14px;
  font-family: "Orbitron", sans-serif;
  justify-content: center;
  align-items: center;
}

.title {
  font-size: 1.8em;
  font-family: "Orbitron", sans-serif;
  letter-spacing: 0.5px;
  font-weight: bold;
  color: rgb(228, 228, 228);
  background-color: black;
  margin-top: -20px;
  margin-left: 270px;
  justify-content: center;
  align-items: center;
  justify-content: center;
  align-items: center;
}

.move-icon {
  font-size: 15px;
  height: 55px;
  width: 55px;
  margin-top: 0px;
  font-family: "Orbitron", sans-serif;
  justify-content: center;
  align-items: center;
}

.result {
  font-size: 30px;
  font-weight: bold;
  margin-top: 50px;
  color: red;
  margin-left: 150px;
  font-family: "Orbitron", sans-serif;
  justify-content: center;
  align-items: center;
}

.score {
  margin-top: 50px;
  font-size: 1.35em;
  font-weight: bold;
  font-family: "Orbitron", sans-serif;
  margin-right: 10px;
  margin-left: 10px;
  justify-content: center;
  align-items: center;
}

.moves {
  margin-left: 155px;
  margin-top: 30px;
  font-family: "Orbitron", sans-serif;
  justify-content: center;
  align-items: center;
}

@media (max-width: 768px) {
  .title {
    font-size: 1.4em;
  }

  .score {
    font-size: 1.35em;
  }

  .container {
    flex-direction: column;
    gap: 10px;
  }
}
