* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

body {
  background-color: black;
  color: white;
  min-height: 100vh;
  padding: 40px;
  justify-content: center;
  align-items: center;
  display: flex;
  margin-top: -120px;
  margin-right: 10px;
}

span {
  background-color: black;
  text-decoration: underline overline;
  padding: 0;
  margin-bottom: 30px;
  margin-top: -10px;
}

.but {
  display: inline-block;
  height: 105px;
  width: 105px;
  background-color: red;
  color: white;
  border-radius: 50px;
  cursor: pointer;
  font-family: "Orbitron", sans-serif;
  font-weight: bold;
  font-size: 1em;
  margin-top: 10px;
  margin-right: 0px;
  justify-content: center;
  align-items: center;
}

.but2 {
  display: inline-block;
  height: 105px;
  width: 105px;
  background-color: rgb(1, 211, 1);
  color: white;
  border-radius: 50px;
  cursor: pointer;
  margin-left: 50px;
  font-weight: bold;
  font-family: "Orbitron", sans-serif;
  font-size: 1em;
  margin-top: 10px;
  justify-content: center;
  align-items: center;
}

.but3 {
  display: inline-block;
  height: 105px;
  width: 105px;
  background-color: rgb(15, 71, 255);
  color: white;
  border-radius: 50px;
  cursor: pointer;
  margin-left: 40px;
  font-weight: bold;
  font-family: "Orbitron", sans-serif;
  justify-content: center;
  align-items: center;
  font-size: 1em;
  margin-top: 10px;
}

.but4 {
  display: inline-block;
  margin-left: 20px;
  height: 100px;
  width: 100px;
  background-color: yellow;
  color: rgb(52, 52, 52);
  border-radius: 50px;
  cursor: pointer;
  font-weight: bold;
  margin-top: 20px;
  font-size: 0.7em;
  font-family: "Orbitron", sans-serif;
  justify-content: center;
  align-items: center;
}
.auto-play-button {
  display: inline-block;
  margin-left: 20px;
  height: 100px;
  width: 100px;
  background-color: rgb(205, 42, 205);
  color: white;
  border-radius: 50px;
  cursor: pointer;
  font-weight: bold;
  margin-top: 20px;
  font-size: 0.7em;
  font-family: "Orbitron", sans-serif;
  justify-content: center;
  align-items: center;
}

.title {
  font-size: 5em;
  font-family: "Orbitron", sans-serif;
  font-weight: bold;
  color: rgb(228, 228, 228);
  text-shadow: 1px 1px 1px white;
  background-color: black;
  margin-bottom: 50px;
  padding-bottom: 50px;
  justify-content: center;
  align-items: center;
  margin-left: -30px;
}

.move-icon {
  display: flex;
  font-size: 0.8em;
  height: 85px;
  width: 85px;
  margin-top: 20px;
  font-family: "Orbitron", sans-serif;
  justify-content: center;
  align-items: center;
  margin-left: 9px;
  padding-bottom: 20px;
}

.result {
  display: flex;
  font-size: 1em;
  font-weight: bold;
  margin-top: 50px;
  color: red;
  margin-left: 150px;
  font-family: "Orbitron", sans-serif;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

.score {
  margin-top: 30px;
  font-size: 1em;
  font-weight: bold;
  font-family: "Orbitron", sans-serif;
  margin-right: 10px;
  margin-left: 10px;
  justify-content: center;
  align-items: center;
}

.moves {
  display: flex;
  height: 80px;
  width: 80px;
  margin-left: 155px;
  font-size: 1em;
  margin-top: 30px;
  font-family: "Orbitron", sans-serif;
  justify-content: center;
  align-items: center;
}
button {
  display: inline-block;
  margin-left: 5px;
}

@media (max-width: 768px) {
  .title {
    font-size: 3.6em;
    justify-content: center;
    align-items: center;
    margin-left: 40px;
    padding-top: -30;
    margin-top: -10;
  }
  button {
    display: inline-block;
  }
  .but {
    width: 100px;
    margin-top: 5px;
    font-size: 0.8em;
    display: inline-block;
    border-radius: 50px;
  }
  .but2 {
    width: 100px;
    margin-top: 5px;
    font-size: 0.8em;
    display: inline-block;
    border-radius: 50px;
    margin-right: 10px;
  }
  .but3 {
    width: 100px;
    margin-top: 5px;
    font-size: 0.8em;
    display: inline-block;
    border-radius: 50px;
    margin-right: 90px;
  }
  .but4 {
    font-size: 0.7em;
    display: inline-block;
    border-radius: 50px;
    margin-top: 20px;
  }
  .auto-play-button {
    font-size: 0.7em;
    display: inline-block;
    border-radius: 50px;
    margin-top: 20px;
  }
  .move-icon {
    font-size: 0.6em;
    display: flex;
    margin-top: 20px;
  }
  .score {
    font-size: 1.1em;
  }
  .container {
    display: inline-block;
    flex-direction: column;
    white-space: nowrap;
  }
}
