* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  display: inline-block;
  white-space: nowrap;
}
body {
  background-color: black;
  color: white;
  font-family: "Orbitron", sans-serif;
  min-height: 100vh;
  padding: 30px;
  justify-content: center;
  align-items: center;
  margin-right: 250px;
  display: inline-block;
}

span {
  background-color: black;
  text-decoration: underline overline;
}

.but {
  display: inline-block;
  height: 100px;
  max-width: 100px;
  background-color: red;
  color: white;
  border-radius: 50px;
  cursor: pointer;
  font-family: "Orbitron", sans-serif;
  font-weight: bold;
  font-size: 1em;
  margin-top: 1px;
  justify-content: center;
  align-items: center;
}

.but2 {
  display: inline-block;
  height: 100px;
  max-width: 100px;
  background-color: rgb(1, 211, 1);
  color: white;
  border-radius: 50px;
  cursor: pointer;
  margin-left: 20px;
  font-weight: bold;
  font-family: "Orbitron", sans-serif;
  font-size: 1em;
  margin-top: 1px;
  justify-content: center;
  align-items: center;
}

.but3 {
  display: inline-block;
  height: 100px;
  max-width: 100px;
  background-color: rgb(37, 37, 255);
  color: white;
  border-radius: 50px;
  cursor: pointer;
  margin-left: 20px;
  font-weight: bold;
  font-family: "Orbitron", sans-serif;
  justify-content: center;
  align-items: center;
  font-size: 1em;
}

.but4 {
  display: inline-block;
  margin-left: 20px;
  height: 100px;
  width: 100px;
  background-color: yellow;
  color: rgb(52, 52, 52);
  border-radius: 50px;
  cursor: pointer;
  font-weight: bold;
  margin-top: 20px;
  font-size: 1em;
  font-family: "Orbitron", sans-serif;
  justify-content: center;
  align-items: center;
}
.auto-play-button {
  display: inline-block;
  margin-left: 20px;
  height: 100px;
  width: 100px;
  background-color: rgb(205, 42, 205);
  color: white;
  border-radius: 50px;
  cursor: pointer;
  font-weight: bold;
  margin-top: 20px;
  font-size: 1em;
  font-family: "Orbitron", sans-serif;
  justify-content: center;
  align-items: center;
}

.title {
  font-size: 1.8em;
  font-family: "Orbitron", sans-serif;
  font-weight: bold;
  color: rgb(228, 228, 228);
  background-color: black;
  margin-top: -20px;
  margin-left: 10px;
  justify-content: center;
  align-items: center;
  justify-content: center;
  align-items: center;
}

.move-icon {
  display: flex;
  font-size: .8em;
  height: 100px;
  width: 100px;
  margin-top: 0px;
  font-family: "Orbitron", sans-serif;
  justify-content: center;
  align-items: center;
}

.result {
  display: inline-block
  font-size: 1em;
  font-weight: bold;
  margin-top: 50px;
  color: red;
  margin-left: 150px;
  font-family: "Orbitron", sans-serif;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

.score {
  margin-top: 50px;
  font-size: 1em;
  font-weight: bold;
  font-family: "Orbitron", sans-serif;
  margin-right: 10px;
  margin-left: 10px;
  justify-content: center;
  align-items: center;
}

.moves {
  display: inline-block;
  height: 80px;
  width: 80px;
  margin-left: 155px;
  font-size: 1em;
  margin-top: 30px;
  font-family: "Orbitron", sans-serif;
  justify-content: center;
  align-items: center;
}
button {
  display: inline-block;
}

@media (max-width: 768px) {
  .title {
    font-size: 1.4em;
    margin-right: 350px;
  }
  button {
    display: inline-block;
  }
  .but {
    font-size: .8em;
    display: inline-block;
  
    border-radius: 50px;    
  }
  .but2 {
    font-size: .8em;
    display: inline-block;
    border-radius: 50px;
  }  
  .but3 {
    font-size: .8em;
    display: inline-block;
    border-radius: 50px;
  }
  .but4 {
    font-size: .7em;
    display: inline-block;
    border-radius: 50px;
  }
  .auto-play-button {
    font-size: .7em;
    display: inline-block;
    border-radius: 50px; 
  }
  .move-icon {
    font-size: .7em;
    display: flex;
  }
  .score {
    font-size: .7em;
  }
  .container {
    display: inline-block;
    flex-direction: column;
    gap: 1px;
    white-space: nowrap;
  }
}
