.but {
  height: 100px;
  width: 100px;
  background-color: red;
  color: white;
  border-radius: 50px;
  cursor: pointer;
  font-weight: bold;
  font-size: 13px;
  margin-top: 1px;
  margin-left: 3px;
  border: 2px solid white;
}

.but2 {
  height: 100px;
  width: 100px;
  background-color: rgb(1, 211, 1);
  color: white;
  border-radius: 50px;
  cursor: pointer;
  margin-left: 5px;
  font-weight: bold;
  font-size: 13px;
  margin-top: 3px;
  border: 2px solid white;
}

.but3 {
  height: 100px;
  width: 100px;
  background-color: rgb(37, 37, 255);
  color: white;
  border-radius: 50px;
  cursor: pointer;
  margin-left: 5px;
  font-weight: bold;
  font-size: 13px;
  border: 2px solid white;  
}

.but4 {
  margin-right: 10px;
  height: 90px;
  width: 90px;
  background-color: orange;
  color: white;
  border-radius: 80px;
  cursor: pointer;
  font-weight: bold;
  margin-top: 20px;
  font-size: 12px;
  border: 2px solid white;  
  padding-right: 5px;
  margin-left: 12px;
}

.auto-play-button {
  margin-left: 10px;
  height: 90px;
  width: 90px;
  background-color: rgb(205, 42, 205);
  color: white;
  border-radius: 80px;
  cursor: pointer;
  font-weight: bold;
  margin-top: 20px;
  font-size: 13px;
  border: 2px solid white;  
}

.title {
  font-size: 65px;
  font-family: comic sans;
  font-weight: bold;
  color: rgb(255, 255, 255);
  background-color: black;
  margin-top: 1px;
  margin-left: 1px;
}

body {
  background-color: rgb(0, 0, 0);
  color: white;
  font-family: "Gill Sans";
  font-size: 17px;
  margin-top: 1px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.move-icon {
  font-size: 15px;
  height: 55px;
  width: 55px;
  margin-top: 0px;
}

.result {
  font-family: comic sans, copperplate;
  font-size: 30px;
  font-weight: bold;
  margin-top: 50px;
  color: red;
  margin-left: 20px;
}

.score {
  margin-top: 50px;
  font-size: 20px;
  font-weight: bold;
  font-family: "Gill Sans", "Gill Sans MT";
  margin-right: 10px;
  margin-left: 0px;
}

.moves {
  margin-left: 125px;
  margin-top: 30px;
}
