* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  background-color: black;
  color: white;
  font-family: "Rajdhani", sans-serif;
  max-height: 100vh;
  padding: 30px;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  background-color: rgb(255, 70, 70);
  border: 3px solid red;
  justify-content: center;
  align-items: center;
  width: 457px;
}

h1 {
  width: 450px;
  height: 150px;
  margin-top: 5px;
  padding-top: 20px;
  font-family: Georgia, "Times New Roman", Times, serif;
  background: linear-gradient(135deg, #000006 0%, #4b515d 50%, #c2bdbd 100%);
  display: block;
  font-size: 2.3em;
  color: red;
  text-shadow: 1px 1px 1px white;
  border: 3px solid red;
  justify-content: center;
  align-items: center;
  padding-left: 37px;
}

input {
  width: 350px;
  height: 25px;
  display: block;
  border: 2px solid black;
  margin-left: 10px;
  margin-top: 0px;
}
input:focus {
  transform: scale(1);
  border-color: white;
}

#generate {
  width: 70px;
  display: inline-block;
  padding: 3px;
  font-family: Georgia, "Times New Roman", Times, serif;
  color: white;
  background-color: blue;
  border: 2px solid white;
  margin-left: 10px;
  margin-top: 20px;
  border-radius: 10px;
  margin-bottom: 10px;
}

#download {
  margin-top: 20px;
  border-radius: 10px;
  display: inline-block;
  width: 72px;
  padding: 3px;
  font-family: Georgia, "Times New Roman", Times, serif;
  color: white;
  background-color: blue;
  border: 2px solid white;
  margin-left: 20px;
  margin-bottom: 10px;
}

img {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  margin-right: 15px;
  margin-bottom: -10px;
  
}

@media (max-width: 768px) {
  h1 {
    font-size: 2em;
    height: 100px;
    width: 250px;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
    text-shadow: 1px 1px 1px white;
    padding-left: 37px;
  }

  input {
    width: 230px;
    display: flex;
    height: 23px;
    margin-top: -5px;
    margin-bottom: 5px;
  }
 
  body {
    display: flex;
    background-color: black;
    color: white;
    font-family: Georgia, "Times New Roman", Times, serif;
    max-height: 100vh;
    justify-content: center;
    align-items: center;
  }
}
