body {
  width: 300px;
  height: 700px;
  background-color: black;
}
h1 {
  width: 300px;
  font-family: Impact;
  display: block;
  font-size: 40px;
  color: white;
  margin-left: 5px;
}

input {
  margin-left: 5px;
  border: 2px solid grey;
}

#generate {
  padding: 3px;
  font-family: Arial;
  color: white;
  background-color: rgb(18, 18, 255);
  border-color: white;
  margin-left: 5px;
}

#download {
  padding: 3px;
  font-family: Arial;
  color: white;
  background-color: rgb(18, 18, 255);
  border-color: white;
}
