body {
  width: 300px;
  height: 700px;
  background-color: black;
}

img {
  margin-left: 15px;
}

h1 {
  width: 300px;
  font-family: Impact;
  display: block;
  font-size: 40px;
  color: white;
  margin-left: 10px;
}

input {
  width: 160px;
  display: block;
  margin-left: 10px;
  border: 2px solid grey;
}

#generate {
  width: 70px;
  display: inline-block;
  padding: 3px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: bold;
  color: white;
  background-color: rgb(15, 71, 255);
  border-color: white;
  margin-left: 10px;
  margin-top: 15px;
  border-radius: 5px;
}

#download {
  padding: 3px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: bold;
  display: inline-block;
  width: 70px;
  color: white;
  background-color: rgb(15, 71, 255);
  border-color: white;
  border-radius: 5px;
  margin-left: 20px;
  margin-top: 15px;
}
