* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  background-color: black;
  color: white;
  font-family: Georgia, "Times New Roman", Times, serif;
  max-height: 100vh;
  padding: 30px;
  border-bottom: 2px solid white;
  justify-content: center;
  align-items: center;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  background-color: rgb(17, 255, 0);
  justify-content: center;
  align-items: center;
}

img {
  margin-left: 15px;
}

h1 {
  width: 210px;
  height: 120px;
  font-family: Impact;
  background-color: black;
  display: block;
  font-size: 2.7em;
  color: red;
  text-shadow: 1px 1px 1px white;
  border: 1px solid rgb(17, 255, 0);
  justify-content: center;
  align-items: center;
  padding-left: 10px;
  padding-top: 5px;
  margin-bottom: 10px;
}

input {
  width: 170px;
  height: 23px;
  display: block;
  border: 2px solid black;
  margin-left: 10px;
}

#generate {
  width: 70px;
  display: inline-block;
  padding: 3px;
  font-family: Georgia, "Times New Roman", Times, serif;
  color: white;
  background-color: rgb(18, 18, 255);
  border-color: white;
  margin-left: 10px;
  margin-top: 30px;
  border-radius: 10px;
  box-shadow: 0 0 20px rgb(18, 18, 255);
  margin-bottom: 10px;
}

#download {
  margin-top: 30px;
  border-radius: 10px;
  display: inline-block;
  width: 75px;
  padding: 3px;
  font-family: Georgia, "Times New Roman", Times, serif;
  color: white;
  background-color: rgb(18, 18, 255);
  border-color: white;
  margin-left: 20px;
  box-shadow: 0 0 20px rgb(18, 18, 255);
  margin-bottom: 5px;
}

@media (max-width: 768px) {
  h1 {
    font-size: 2em;
    width: 183px;
    height: 90px;
    justify-content: center;
    align-items: center;
  }

  input {
    width: 170px;
    display: flex;
    height: 23px;
  }

  body {
    display: flex;
    background-color: black;
    color: white;
    font-family: Georgia, "Times New Roman", Times, serif;
    max-height: 100vh;
    padding: 30px;
    border-bottom: 2px solid white;
    justify-content: center;
    align-items: center;
  }
}
